* {
  box-sizing: border-box;
}

/* TODO set color variables */
/* :root {
  --color-1: white;
} */

body {
  margin: 0;
}

/* BEGIN LAYOUT */
.layout-grid {
  display: grid;
  /* grid-template-columns: 12% auto; */
  grid-template-columns: auto;
  grid-template-rows: auto;
}
/* END LAYOUT */

/* BEGIN HEADER */
.Header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(253, 190, 113);
  text-align: center;
}
/* END HEADER */

/* BEGIN NAV */

/* TODO media query for responsive navbar/burger */

.Nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  /* background-color: brown; */
}

.Nav a {
  /* border: 1px solid black; */
  text-decoration: none;
  text-transform: lowercase;
  background-color: rgb(240, 240, 240);
  color: rgb(73, 73, 73);
  text-align: center;
  /* font-size: large; */
  padding: 15px;
}

.Nav a:hover {
  background-color: rgb(230, 213, 213);
}
/* END NAV */

/* BEGIN CONTENT */
.content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  padding: 10px;
}
/* END CONTENT */

/* BEGIN ABOUT */

/* TODO set color variables. Also, should this just be a button to email directly (like the prior portfolio) or link to contact page */

.about-contact-link {
  text-decoration: none;
  color: purple;
}

/* END ABOUT */

/* BEGIN PROJECT */

/* TODO media query grid for larger screens */

.project-box {
  border: 1px solid black;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}

.flex {
  display: flex;
}

.project-screenshot {
  width: 400px;
}

/* END PROJECT */

/* BEGIN CONTACT */

/* TODO need new colors, use variables */

.spread {
  justify-content: space-evenly;
}

.contact-icon {
  font-size: 3rem;
  color: rgb(253, 190, 113);
}

.contact-icon:hover {
  color: purple;
}

/* END CONTACT */
