* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* BEGIN LAYOUT */
.layout-grid {
  display: grid;
  grid-template-columns: 12% auto;
  grid-template-rows: auto;
}
/* END LAYOUT */

/* BEGIN HEADER */
.Header {
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: rgb(253, 190, 113);
}
/* END HEADER */

/* BEGIN NAV */
.Nav {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
  display: grid;
  /* background-color: brown; */
}

.Nav a {
  /* border: 1px solid black; */
  text-decoration: none;
  text-transform: lowercase;
  background-color: rgb(240, 240, 240);
  color: rgb(73, 73, 73);
  text-align: center;
  /* font-size: large; */
  padding: 15px;
}

.Nav a:hover {
  background-color: rgb(230, 213, 213);
}
/* END NAV */

/* BEGIN CONTENT */
.content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
}
/* END CONTENT */

/* BEGIN PROJECT */
.project-box {
  border: 1px solid black;
}

.flex {
  display: flex;
}

/* END PROJECT */
